{% extends "bootstrap/base.html" %}

{% block title %}
Welcome to the aDViSOR
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="container">
        <h4>aDViSOR</h4>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id='first_div'>
            <div class='panel panel-default fixed-panel-left'>
                <div class='panel-heading'>Schedule</div>
                <div class='panel-body'></div>
            </div>
            <div class='panel panel-default fixed-panel-left'>
                <div class='panel-heading'>Reviews</div>
                <div class='panel-body'></div>
            </div>
            
            <!-- <iframe src="{{ url_for('static', filename='images/robo_advisor.jpg') }}" style='height:70vh;width:100%;' id='course_frame'></iframe> -->

            <a href='#' target='_blank' class='btn btn-primary btn-lg btn-block' id='site_link'>Click here for more details</a>

        </div>
        <div class="col-md-6">
            <div class='panel panel-default'>
                <div class='panel-heading'>Chat</div>
                <div class='panel-body fixed-panel'  id='chat_body'>
                <!-- This is where chat is inserted -->
                </div>
            </div>

            <form class='form-inline'>
                <input type='text' class='form-control' id='chat_text' placeholder="Type here...">
                <a href='#' id='chat_input'><button type="submit" class="btn btn-default" onclick="input_text(); return false;">Submit</button></a>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block styles %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/chatbot.css')}}"> 
{% endblock %}